@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --background: #ffffff;
  --font-rubik: "Rubik", sans-serif;
}
.text-green-custom {
  color: #309898;
}
.text-red-custom {
  color: #e55050;
}
.text-blue-custom {
  color: #183b4e;
}
.text-darkRed-custom {
  color: #cb0404;
}
.text-yellow-custom {
  color: #ff9f00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}
